:root{
    --primary-col: #FF99C2;
    --btn: #fff;
    --bold: #FF2222;
    --btn-hover: #C93131;
}
body{
    background: var(--primary-col);
    height: 100vh;
}
.top{

    .left{
        position: fixed;
        top: 0;
        left: 10px;
    }
    .right{
        position: fixed;
        top: 0;
        right: 10px;
    }
}
.content{
    margin: auto;
    justify-content: center;
    text-align: center;
    font-family: 'Cooper', serif;
    color: #fff;
    h1{
        font-size: 4.5em;
        justify-content: center;
        margin: 100px auto;
    }
    p{
        font-size: 3em;
    }
    .btn{
        background-color: var(--btn-hover);
        border-radius: 10px;
        margin: auto;
        width: 7em;
        .btn-link{
            text-decoration: none;
            color: white;
            margin: auto;
            padding: 5px;
        }
    }
}
